/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

.braintree-hosted-fields .input {
  border: 1px solid #d9d9db;
  border-radius: 3px;
  color: #5498DA;
  height: 30px;
  padding: 5px 10px;
}

.paypal-button-widget .paypal-button:hover {
  background: transparent;
}

.apple-pay-button {
  -webkit-appearance: -apple-pay-button;
  -apple-pay-button-type: buy;
  visibility: hidden;
  display: inline-block;
  min-height: 30px;
  border: 1px solid black;
  background-image: -webkit-named-image(apple-pay-logo-black);
  background-size: 100% calc(60% + 2px);
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50% 50%;
  border-radius: 5px;
  padding: 0;
  margin: 5px auto;
  transition: background-color .15s;
  width: auto;
}

.apple-pay-button.visible {
  visibility: visible;
}

@media screen and (max-width: 400px) {
 #paypal-button {
 width: 100%;
 }
}

@media screen and (min-width: 400px) {
 #paypal-button {
 width: 350px;
 }
}